:root {
    --primary-color: #4361ee;
    --secondary-color: #3f37c9;
    --accent-color: #4895ef;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --success-color: #4cc9f0;
    --warning-color: #f72585;
    --border-radius: 8px;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

/*Estilos Generales*/
* {
    margin: 0;
    padding: 0;
    /*hace que el padding y el border se incluyan en el ancho
    de los elementos que facilitan el diseño responsivo*/
    box-sizing: border-box;
}

/*Estilos para el cuerpo de la página*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--dark-color);
    background-color: #f0f2f5;
    padding: 20px;
}

/*Contenedor Principal*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*Estilos aplicados al ENCABEZADO*/
header {
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 2rem;

    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
